body{
    background-image: url(media/hatter.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.nav-link{
   background-color: rgb(241, 241, 241);
   border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
 }
 
.tartalom{
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    text-align: justify;
    padding: 25px;
}
.jobb{
    float: right;
}
.bal{
    float: left;
}
.kep{
    margin: 20px;
}
.kep2{
    margin: 20px;
    margin-top: 0px;
}

#focim{
    text-align: center;
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    margin: auto;
}

.card{
    text-align: center;
    margin: 6.25rem 34.375rem;
    border-radius: 1.25rem;
}
.dropdown-menu{
    background-color: rgb(241, 241, 241);
    border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
}
.dropdown-item{
    text-align: center;
    font-weight: bold;
}
.kartyak{
    width:100%;
    overflow:auto;
}
.kartya{
    border: 1px solid white;
    padding: 5px;
    float: left;
    height: 10%;
    border-radius: 5%;
}
.also_hely{
    margin-bottom: 6%;
}
.versenyzokep{
    float: left;
    width: 200px;
    margin: 10px;
}
#Easter{
    
}
button{
    border: 1px solid ;
    border-radius: 4px;
    font-size: 22px;

}




.carousel-inner img {
    width: 100%;
    height: 90%;
}
#h1_focim{
    position: relative;    
    top: -75px;
    color: rgb(28, 36, 53);
    padding: 15px 25px;
    background-color: white;
    width:500px;
    border-radius: 0 35px 35px 0;
    margin-bottom: -75px;
}
.kartya_2{
    width: 200px;
    border-radius: 10%;
}
.cardd{
    text-align: left;
    margin: 0% 20%;
    border-radius: 1.25rem;
    border: gray 5px solid;
    background-color: aliceblue;
}
 .valasz{
    border: 1px solid ;
    border-radius: 4px;
    font-size: 22px;
    background-color: rgb(240, 240, 240);
    padding: 10px 10px 10px 20px;
 margin-left: 2%; 
 margin-right: 50%;
    text-align: center;
}
.valasz2{
    text-align: center;
    border: 1px solid ;
    border-radius: 4px;
    font-size: 22px;
    background-color: rgb(240, 240, 240);
    padding: 10px 10px 10px 20px;
    margin-left: 2%;
    margin-right: 18%;
    
}
 h2{
    margin-left: 2%;
 }
 .cards{
    background-color: aliceblue;
    border: 1px solid rgb(224, 224, 224);
  margin: 0% 5%;
    border-radius: 10px;
 }
.card-text{
    text-align: justify ;
}