body{
    background-image: url(hatter.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}
.nav-link{
   background-color: rgb(241, 241, 241);
   border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
 }
 
.tartalom{
    background-color: rgba(53, 53, 53, 0.596);
    color: white;
}
.dropdown-menu{
    background-color: rgb(241, 241, 241);
    border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
}
.dropdown-item{
    text-align: center;
    font-weight: bold;
}