body{
    background-image: url(hatter.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}
.nav-link{
   background-color: rgb(241, 241, 241);
   border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
 }
 
.tartalom{
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    text-align: justify;
    padding: 25px;
}
.jobb{
    float: right;
}
.bal{
    float: left;
}
.kep{
    margin: 20px;
}
.kep2{
    margin: 20px;
    margin-top: 0px;
}

#focim{
    text-align: center;
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    margin: auto;
}

.card{
    text-align: center;
    margin: 6.25rem 34.375rem;
    border-radius: 1.25rem;
}
.dropdown-menu{
    background-color: rgb(241, 241, 241);
    border-radius: 10%;
   border: rgb(155, 155, 155) 2px solid;
}
.dropdown-item{
    text-align: center;
    font-weight: bold;
}
.kartyak{
    width:100%;
    overflow:auto;
}
.kartya{
    width:30%;
    float:left;
    margin: 20px;
    background-color: rgb(53, 53, 53);
    border: solid 2px white;
    padding: 1%;
    color: white;
}
.also_hely{
    margin-bottom: 5%;
}
#Easter{
    
}
button{
    border: 1px solid ;
    border-radius: 4px;
}