body{
    background-image: url(hatter.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}
.nav-link{
    background-color: gray;
 }
 
.tartalom{
    background-color: rgba(53, 53, 53, 0.596);
    color: white;
}